#bp_logo{
    height:50px;
}
#welcome{
    font-size: 85px;
    font-family:Baskerville; 
    color: #A8B2BF;
    text-shadow:-4px 2px 0 #0a0e27;
    -webkit-text-stroke:#8C1822;
    -webkit-text-stroke-width: 2.2px ;
}
body{
    text-align: center;
    background: #F2F2F2;
    background-image: url("/pics/download.jpg");
    background-repeat: repeat;
    background-size: auto;
}
.homepage{
    position: relative;
    text-align: center;
    color: white;
}
.image_box{
    background:url('/pics/bp_shop3.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}
.text_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-family: Alternate;
    color: #0D0D0D;
    text-shadow:-2px 2px 0 #A8B2BF;
}
#top_page{
    padding: 5em;
}
#phone_number{
    font-size: 1.25em;
    color:#26141B;
}
#beverages{
    color:;
}
h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #8C1822;
}
h2::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #8b6f4e;
}
#text1{
    opacity: 0;
    transition: all 0.5s;
}
 #box1:hover #text1{
    opacity: 1;
 }
 .navbar-nav, .navbar-brand {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav> li {
    display: inline-block;
    float:none;
    color:red;
}
